.Footer {
  padding: 90px 0 50px;
  background-image: url("../img/bg_footer.png");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-family: var(--font-primary);
      font-style: normal;
      font-weight: bold;
      font-size: var(--text-size-48);
      line-height: 130%;
      /* or 62px */

      letter-spacing: -0.01em;
      text-transform: uppercase;

      color: var(--color-white);
    }
  }

  .logo img {
    width: 187px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-family: var(--font-secondari);
      font-style: normal;
      font-weight: normal;
      font-size: var(--text-size-17);
      line-height: 160%;
      /* or 27px */

      display: flex;
      align-items: center;

      color: var(--color-white);
    }
    span {
      margin-left: 20px;
    }
  }
}
