.PopUp {
  display: none;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  overflow:hidden;
  position:fixed;
  top:0;
  z-index: 3;
  color: var(--color-black);

  &__box {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--color-white);
  }

  h4 {
    font-family: var(--font-secondari);
    font-style: normal;
    font-weight: bold;
    font-size: var(--text-size-15);
    line-height: 17px;
    /* identical to box height, or 94% */
    color: var(--color-black);
  }

  p {
    font-family: var(--font-secondari);
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-size-15);
    line-height: 17px;
    /* identical to box height, or 113% */
    color: var(--color-black);
  }

  &__show {
    display: flex;
  }

  .Btn__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__Error, &__complainAboutPhoto {
    width: 500px;
    height:320px;
  }

  &__enrollmentSuccessful {
    width: 500px;
    height: 260px;
  }

  &__complainAboutPhoto {
    padding: 25px;
    justify-content: space-between;
    align-items: baseline;

    h4 {
      margin-bottom: 20px;
    }

    textarea {
      margin-bottom: 15px;
    }

    .Btn__popUp-btn {
      padding: 15px 25px;
      text-transform: uppercase;
    }

    .Btn__transparent {
      margin-right: 20px;
      font-family: var(--font-secondari);
      font-style: normal;
      font-weight: bold;
      font-size: var(--text-size-12);
      line-height: 14px;
      text-transform: uppercase;

      color: var(--color-black);
    }
  }

  textarea {
    width: 100%;
    height: 179px;
    padding: 20px;
    font-family: var(--font-secondari);
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-size-13);
    line-height: 20px;
    /* identical to box height, or 154% */
    color: var(--color-black);

    opacity: 0.4;
    resize: none;
  }






}
