@import 'mixins';
.StartedTheTask {
  padding: 20px 0;
  display: flex;
  flex-grow: 3;

  .container {
    @include centering-children;
    flex-grow: 3;
    flex-direction: column;
  }

  &__contentTask, &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contentTask {
    img  {
      max-width: 575px;
      width: 100%;
    }

    h3 {
      margin-bottom: 40px;
      font-family: var(--font-secondari);
      font-style: normal;
      font-weight: bold;
      font-size: var(--text-size-26);
      line-height: 31px;
      color: var(--color-black);
    }
  }

  &__boxFoundError {
    width: 350px;
    background: #C4C4C4;
    padding: 15px;
    margin: 20px 0 45px;
    h5 {
      font-family: var(--font-secondari);
      font-weight: bold;
      font-size: var(--text-size-26);
      line-height: 31px;

      color: var(--color-black);
    }
  }

  &__buttons {
    a {
      margin-top: 20px;
      margin-right: 20px;
      font-family: var(--font-secondari);
      font-style: normal;
      font-weight: bold;
      font-size: var(--text-size-18);
      line-height: 22px;
      /* identical to box height, or 117% */

      letter-spacing: 0.06em;
      color: var(--color-black);
    }



    .Btn__start {
      padding: 20px 40px;
      color: var(--color-secondary);
    }

    .Btn__back {
      width: 125px;
    }
  }

  &__text {
    &-big {
      display: block;
      margin: 50px 0 10px;
      font-family: var(--font-secondari);
      font-style: normal;
      font-weight: normal;
      font-size: 39px;
      line-height: 47px;
      /* identical to box height */
      color: var(--color-black);
    }
  }

  &__imgBox {
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      img:first-child {
        width: 395px;
        height: 245px;
      }
    }

    &-error {
      img:last-child {
        width: 43px;
        height: 43px;
        margin-left: 15px;
      }
    }
    &-done {
      img:last-child {
        width: 50px;
        height: 40px;
        margin-left: 15px;
      }
    }
  }
}

.RulesPopup {
  h4 {
    margin: 0 25px;
    font-family: var(--font-secondari);
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: var(--color-black);
  }

  p {
    margin: 25px;
    font-size: 20px;
    line-height: 24px;
  }

  ul {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__complain {
    width: 541px;
    padding: 25px 0;
    align-items: start;
  }

  .Btn__close {
    top: 25px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    &-left {
      width: 25px;
    }
    &-right {
      width: 25px;
    }
  }

  .Btn__borderTransparent {
    width: 150px;
    height: 60px;
    margin-left: 25px;
  }
}
