@import 'mixins';
.TaskPerformance {
  padding: 20px 0;
  display: flex;
  flex-grow: 3;
  img {
    max-width: 725px;
    max-height: 620px;
  }

  form {
    color: #000000;
  }

  .container {
    @include centering-children;
    flex-grow: 3;

    & > div {
      display: flex;
    }
  }

  &__content {
    max-width: 240px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      margin-bottom: 30px;
      font-family: var(--font-secondari);
      font-style: normal;
      font-weight: 800;
      font-size: var(--text-size-20);
      line-height: 25px;

      color: var(--color-black);
    }

    .TaskPerformance__title {
      margin-bottom: 0;
    }
  }
  &__text-middle {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: var(--font-secondari);
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-size-15);
    line-height: 140%;
    /* or 22px */

    color: var(--color-black);
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    .Btn__radio {
      margin-bottom: 15px;
      .TaskPerformance__text-middle {
        font-weight: bold;
      }
      div {
        margin-bottom: 10px;
      }

      textarea {
        width: 100%;
        max-width: 240px;
        height: 75px;
        padding: 10px;
        background: var(--color-white);
        border: 1px solid var(--color-grey-3);
        resize: none;
        text-align: start;

        font-family: var(--font-secondari);
        font-style: normal;
        font-weight: normal;
        font-size: var(--text-size-14);
        line-height: 17px;
        /* identical to box height */


        color: #999999;
      }
    }

    .Btn__checkbox {
      margin-bottom: 30px;
    }
    .Btn__okError-ok {
      margin-bottom: 10px;
    }
  }

  .Btn__start {
    color: var(--color-white);
  }

  .Btn__transparent {
    margin: 21px 0;
    font-family: var(--font-secondari);;
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-size-13);;
    line-height: 14px;
    color: var(--color-black);
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}


