@import 'mixins';

.MainTaskPages {
  padding: 20px 0;
  display: flex;
  flex-grow: 3;

  .container {
    @include centering-children;
    flex-grow: 3;
    flex-direction: column;
  }
  &__listTask {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .Btn__start {
      width: 160px;
      height: 40px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    img {
      max-width: 272px;
      width: 100%;
      max-height: 137px;
      margin-bottom: 15px;
    }
  }

  &__item {
    position: relative;
    max-width: 272px;
    width: 100%;
    min-height: 310px;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: var(--color-white);
    border: 1px solid var(--color-grey-0);
    //border-radius: 17px;

    &-task {
      &:hover {
        border: 2px solid var(--color-secondary);

        .Btn__start {
          background: var(--color-secondary);
          color: var(--color-black);
        }
      }
    }

    &-check {
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #EFEFEF;
        opacity: 0.8;
        border: 1px solid #999999;
        box-sizing: border-box;
      }
      .Btn__start {
        background: var(--color-transparent);
        color: var(--color-black);
        padding: 0;
        border: 2px solid rgba(51, 51, 51, 0.3);;
        z-index: 2;
      }
    }

    &-done {
      justify-content: center;
      align-items: center;
      border: 2px dashed var(--color-grey-1);

      span {
        color: var(--color-secondary);
      }
    }

    span {
      margin-top: 20px;
      font-family: var(--font-secondari);
      font-style: normal;
      font-weight: bold;
      font-size: var(--text-size-27);
      line-height: 32px;
      text-align: center;

    }

    &-doneTrue, &-error {
      .Btn__start {
        padding: 0;
        text-transform: none;
      }
    }
  }

  &__text {
    &-doneTrue {
      position: relative;
      padding-left: 30px;
      margin-top: 15px;
      color: var(--color-green);
      &:after {
        content: '';
        width: 31px;
        height: 27px;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/doneTrue-1.png") no-repeat;
      }
    }

    &-error {
      position: relative;
      padding-left: 25px;
      margin-top: 15px;
      color: var(--color-grey-2);
      line-height: 1;
      &:after {
        content: '';
        width: 31px;
        height: 27px;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/error-1.png") no-repeat;
      }
    }
  }

  &__total {
    margin-bottom: 15px;
    font-family: var(--font-secondari);
    font-style: normal;
    font-size: var(--text-size-16);
    line-height: 20px;
    /* identical to box height */
    color: var(--color-black);
    span {
      font-size: 18px;
      font-weight: 800;
    }
  }
}
