:root {
  --color-logo-lening: #FFE361; // wt
  --color-logo-task: #76fa95;
  --color-secondary: #78FA9C; // wt
  --color-bg-task: #EFEFEF;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-1: #060606;
  --color-grey-light: #F7F7F7;
  --color-grey: #f2f2f2;
  --color-grey-0: #E0E0E0;
  --color-grey-dark: #c5c5c5; // wt
  --color-grey-dark-0: #7e7a7f; //+
  --color-transparent: transparent;
  --line-gradient-welcome-1: linear-gradient(112.75deg,
                                            rgba(0, 0, 0, 0.68) 36.09%,
                                            rgba(0, 0, 0, 0) 100%);
  --line-gradient-welcome-2: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);


  --line-gradient-service-1: linear-gradient(360deg,
                                              #000000 0%,
                                              rgba(0, 0, 0, 0) 100%);
  --line-gradient-service-2: linear-gradient(90deg,
                                              #000000 0%,
                                              rgba(0, 0, 0, 0) 40%);
  --line-gradient-service-3: linear-gradient(180deg,
                                              #000000 0%,
                                              rgba(0, 0, 0, 0) 100%);

  --text-size-11: 11px;
  --text-size-12: 12px;
  --text-size-13: 13px;
  --text-size-14: 14px;
  --text-size-15: 15px;
  --text-size-16: 16px;
  --text-size-17: 17px;
  --text-size-18: 18px;
  --text-size-19: 19px;
  --text-size-20: 20px;
  --text-size-21: 21px;
  --text-size-22: 22px;
  --text-size-24: 24px;
  --text-size-26: 26px;
  --text-size-27: 27px;
  --text-size-29: 29px;
  --text-size-40: 40px;
  --text-size-48: 48px;

  --font-primary: 'Oswald', sans-serif;
  --font-secondari: 'Lato', sans-serif;

}
